{{>layout/header}}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-dark text-white">
                    SIGN IN
                </div>
                <div class="card-body">
                    <form action="/signin" method="post">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" name="email" id="email" pattern="[a-zA-Z0-9]+[@][a-zA-Z0-9]+[.]+[a-zA-Z]+[.]*[a-zA-Z]*" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" id="password" required>
                        </div>
                        {{#loginError}}
                            <div class="alert alert-danger" role="alert">
                                Invalid email or password
                            </div>
                        {{/loginError}}
                        <button type="submit" class="btn btn-dark w-100">SIGN IN</button>
                        <div class="mt-3 text-center">
                            <a href="/sign/signup" class="btn btn-outline-dark w-100 mt-2">SIGN UP</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{>layout/footer}}
