{{>layout/header}}
<form>
    name
    <input type="text" id="username">
    email
    <input type="text" id="email">
    phone
    <input type="text" id="phone">
    <input type="password" id="password">
    <button>SIGN UP</button>
</form>
{{>layout/footer}}