{{>layout/header}}

<div class="container mt-5">
    <h1 class="text-center mb-4">My Page</h1>
    <p><strong>이름:</strong> {{user.username}}</p>
    <p><strong>이메일:</strong> {{user.email}}</p>
    <p><strong>전화번호:</strong> {{user.phone}}</p>
</div>

{{>layout/footer}}
